table{
    border-collapse: collapse;
    text-align: center;
}
.tablehead th,.tablebody td{
    border: 1px solid #ddd;
    width: 400px;
    
}
.tablehead{
    background-color: #ddd;
}
.tablehead th:last-child,.tablebody td:last-child{
    width: 1400px;
}
.tablebody{
    overflow: auto;
    height: 200px;
}
